<?xml version="1.0" encoding="UTF-8" ?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://activemq.apache.org/schema/core
       http://activemq.apache.org/schema/core/activemq-core-5.12.1.xsd">

    <context:component-scan base-package="com.liangsl.test.mq" />

    <!--<amq:connectionFactory id="amqConnectionFactory"-->
                           <!--brokerURL="tcp://127.0.0.1:61616"-->
                           <!--userName="admin" password="admin"></amq:connectionFactory>-->
    <!--&lt;!&ndash; 配置JMS连接factory &ndash;&gt;-->
    <!--<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">-->
        <!--<constructor-arg ref="amqConnectionFactory"></constructor-arg>-->
        <!--<property name="sessionCacheSize" value="10000"></property>-->
    <!--</bean>-->

    <!-- 配置JMS连接工厂 -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="failover:(tcp://localhost:61616)" />
    </bean>

    <bean id="defaultQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>defaultQueue</value>
        </constructor-arg>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="defaultDestination" ref="defaultQueue"></property>
        <property name="receiveTimeout" value="10000" />
    </bean>


    <bean id="defaultQueueListener" class="com.liangsl.test.mq.DefaultQueueListener"></bean>
    <bean id="jmsContainer"
          class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="defaultQueue" />
        <property name="messageListener" ref="defaultQueueListener" />
    </bean>

</beans>